/* Globals */
body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
}

header,
a {
  font-family: "Raleway", sans-serif;
}

a,
li {
  text-decoration: none;
  list-style: none;
}

input {
  box-sizing: border-box;
}
.content-h {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.content-v {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.w-100 {
  width: 100%;
}

.btn {
  background-color: hsl(224, 93%, 58%);
  color: white;
  padding: 11px;
  outline: none;
  border: none;
  border-radius: 4px;
  box-shadow: 2px 2px 10px rgb(0, 0, 0, 0.3);
  font-weight: 700;
}

/* Header */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.banner {
  width: 26%;
}

.nav-principal ul {
  display: flex;
  margin: 0;
  padding: 0;
  align-items: center;
  font-size: 13px;
}

.nav-principal ul li {
  padding-left: 20px;
}

.nav-principal ul li a {
  color: hsl(238, 22%, 44%);
}

/* Section 1 */
.section1 img {
  padding: 4rem 0 1rem;
}

.section1-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.section1-content h1 {
  font-weight: 700;
  margin-bottom: 0;
  color: hsl(243, 87%, 12%);
}

.section1-content p {
  color: hsl(238, 22%, 44%);
  margin: 2rem 1.3rem;
  font-size: 14px;
}

.section1-btns {
  width: 90%;
}

.section1-btns input {
  margin-bottom: 15px;
  padding: 11px 20px;
  font-size: 12px;
  border: 1px solid hsl(243, 87%, 12%);
  border-radius: 4px;
  outline: none;
}

.section1-btns input::placeholder {
  color: hsl(0, 0%, 75%);
}

/* Section 2 */
.section2 {
  /* background-image: url('./images/bg-curve-desktop.svg'); */
  background-color: hsl(240, 75%, 98%);
}

.section2 > img {
  padding: 1rem 0 4rem;
}

.section2 h4 {
  font-family: "Raleway", sans-serif;
  text-align: center;
}

.section2 > p {
  color: hsl(238, 22%, 44%);
  font-size: 14px;
}

.section2-blog {
  text-align: center;
}

.section2-work {
  display: flex;
  align-items: center;
  height: 30px;
  width: 175px;
  justify-content: space-between;
  border-bottom: 1px solid hsl(170, 45%, 43%);
  color: hsl(170, 45%, 43%);
  margin: 2rem auto 2.5rem;
}

.section2-card {
  background-color: white;
  border-radius: 4px;
  box-shadow: 1px 1px 10px rgb(0, 0, 0, 0.1);
  padding: 1rem;
  margin: 1rem;
  text-align: start;
}

.section2-card > p {
  font-size: 11px;
}

.section2-card-profile {
  display: flex;
}

.section2-card-profile > img {
  border-radius: 50%;
  background-size: cover;
  width: 13%;
}

.section2-card-profile-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10px;
}

.section2-card-profile-info p:first-child {
  font-weight: bold;
  font-size: 11px;
}

.section2-card-profile-info > p {
  margin: 0;
  font-size: 7px;
}

/* Section 3 */
.section3 {
  background-color: hsl(238, 22%, 44%);
  color: white;
  padding-top: 2rem;
  padding-bottom: 4rem;
  text-align: center;
}

.section3 > p {
  opacity: 0.8;
}

.section3-btns {
  margin: 2rem 2rem 0;
}

.section3-btns > input {
  margin-bottom: 15px;
  padding: 11px 20px;
  font-size: 12px;
  border: none;
  border-radius: 4px;
  outline: none;
}

.section3-btns > input::placeholder {
  color: hsl(0, 0%, 75%);
}

/* Footer */
.footer {
  background-color: hsl(243, 87%, 12%);
  color: white;
  padding-left: 2rem;
  padding-right: 2rem;
}
.footer-banner {
  margin: 2.5rem 0 2rem;
}
.footer-content-1 {
  margin-bottom: 2rem;
}
.footer-content-contact {
  display: flex;
  align-items: center;
}
.footer-content-contact > p {
  margin: 8px 15px;
}

.footer-content-tag {
  display: flex;
  flex-direction: column;
  margin: 2rem 0;
}
.footer-content-tag > a {
  color: white;
  margin: 8px 0;
}

.footer-content-rs {
    text-align: center;
    margin: 2rem 0;
}
.footer-content-rs > img{
    height: 40px;
}

.footer-content-rs img:last-child {
    filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(30deg)
    brightness(109%) contrast(101%);
}

.attribution {
  font-size: 11px;
  text-align: center;
  color: rgba(255, 255, 255, 0.692);
}
.attribution a {
  color: white;
}
